<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nike</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link
      rel="icon"
      href="https://www.nike.com/favicon.ico?v=1"
      type="image/x-icon"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
  </head>
  <body style="width: 100%; height: 100vh">
    <div class="fixed-top">
      <div th:replace="~{navbar :: navbar}"></div>
    </div>

    <div
      class="container d-flex align-items-center justify-content-center text-body-tertiary"
      style="height: 100vh"
    >
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="280"
          height="280"
          fill="currentColor"
          class="bi bi-file-earmark-x mx-auto"
          viewBox="0 0 16 16"
        >
          <path
            d="M6.854 7.146a.5.5 0 1 0-.708.708L7.293 9l-1.147 1.146a.5.5 0 0 0 .708.708L8 9.707l1.146 1.147a.5.5 0 0 0 .708-.708L8.707 9l1.147-1.146a.5.5 0 0 0-.708-.708L8 8.293 6.854 7.146z"
          />
          <path
            d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z"
          />
        </svg>

        <h1 class="mx-auto text-center mt-5">Page Not Found</h1>

        <a
          href="/"
          class="link-secondary text-center mx-auto d-block link-underline-opacity-25 link-underline-opacity-100-hover link-offset-2 fs-5"
          >Back To Home</a
        >
      </div>
    </div>

    <script th:src="@{/javascript/bootstrap.bundle.min.js}"></script>
  </body>
</html>
