<!doctype html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Nike</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link
      rel="icon"
      href="https://www.nike.com/favicon.ico?v=1"
      type="image/x-icon"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.min.js"
      integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g="
      crossorigin="anonymous"
    ></script>
    <script src="/javascript/products.js"></script>
  </head>
  <body style="width: 100%">
    <div th:replace="~{navbar :: navbar}"></div>

    <div class="container row mx-auto">
      <div class="col-2 py-5 ps-0">
        <div class="card shadow-sm p-3">
          <h5 class="mb-2">Filter Products</h5>
          <hr class="mt-0 mb-2" />
          <form action="/products">
            <label class="mt-2" for="filter-name">Product Name</label>
            <input
              class="form-control form-control-sm"
              type="text"
              name="name"
              id="filter-name"
            />

            <label class="mt-2" for="filter-min-price">Minimum Price</label>
            <input
              class="form-control form-control-sm"
              type="number"
              name="pmin"
              id="filter-min-price"
              min="0"
            />

            <label class="mt-2" for="filter-max-price">Maximum Price</label>
            <input
              class="form-control form-control-sm"
              type="number"
              name="pmax"
              id="filter-max-price"
              min="0"
            />

            <a class="mt-3 btn btn-outline-dark w-100" href="/products"
              >Reset</a
            >

            <input
              class="mt-3 btn btn-dark w-100"
              type="submit"
              value="Filter"
            />
          </form>
        </div>
        <div
          sec:authorize="hasRole('ROLE_ADMIN')"
          class="card shadow-sm mt-4 p-3"
        >
          <h5 class="mb-2">Admin Panel</h5>
          <hr class="mt-0 mb-2" />
          <a href="product/add" class="btn btn-dark w-100 mt-2">
            Add Product
          </a>
        </div>
      </div>

      <div class="col-10 album py-5 pe-0">
        <div class="container">
          <div
            class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"
            id="products-container"
          >
            <div class="col placeholder-glow">
              <div class="card shadow-sm">
                <div
                  style="height: 320px"
                  class="card-img-top placeholder"
                ></div>
                <div class="card-body">
                  <div class="card-text m-0 pb-1 row">
                    <div class="col-8 placeholder"></div>
                  </div>
                  <div class="cart-text">
                    <div class="col-4 placeholder"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col placeholder-glow">
              <div class="card shadow-sm">
                <div
                  style="height: 320px"
                  class="card-img-top placeholder"
                ></div>
                <div class="card-body">
                  <div class="card-text m-0 pb-1 row">
                    <div class="col-8 placeholder"></div>
                  </div>
                  <div class="cart-text">
                    <div class="col-4 placeholder"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col placeholder-glow">
              <div class="card shadow-sm">
                <div
                  style="height: 320px"
                  class="card-img-top placeholder"
                ></div>
                <div class="card-body">
                  <div class="card-text m-0 pb-1 row">
                    <div class="col-8 placeholder"></div>
                  </div>
                  <div class="cart-text">
                    <div class="col-4 placeholder"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script th:src="@{/javascript/bootstrap.bundle.min.js}"></script>
  </body>
</html>
